.nx/

# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
.pnp/
.pnp.js

# macOS
.DS_Store
**/.DS_Store

# Logs
*.log
*.tmp
*.temp
*.swp
*.swo
*.lock

# Web application build
build/
dist/

# IDE files (Android Studio/IntelliJ)
*.iml
.idea/
*.ipr
*.iws

# DerivedData and other Xcode files
ios/DerivedData/
ios/*/DerivedData/
xcuserdata/
*.xcuserstate